<% provide(title: "Product Categories") %>

<% @productcategories.each do |productcategory| %>
<div>
   <a href="<%= product_category_path(productcategory) %>">
     <h3><%= productcategory.category %> |
       <small><%= productcategory.products.count %> Products</small></h3>
   </a>
   <hr>
</div>
<% end %>
