<footer>
  <small><%= Time.now.year %>
    <a href="http://opusgroupllc.com">Opus Group LLC</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Articles", articles_path %>
      <li><%= link_to "Github", 'http://github.com/opusgroupllc' %></li>
      <li><%= link_to "Internal Site", '#' %></li>
    </ul>
  </nav>
</footer>